.switch-holder {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, .7),
    10px 10px 10px rgba(0, 0, 0, .2),
    inset 8px 8px 15px rgba(255, 255, 255, .7),
    inset 10px 10px 10px rgba(0, 0, 0, .2);
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  padding: 0 20px 0 10px
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
    inset 10px 10px 10px rgba(0, 0, 0, .25);
}

.switch-toggle input[type="checkbox"]+label::before {
  position: absolute;
  content: 'OFF';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #eeeeee;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
    3px 3px 5px rgba(0, 0, 0, .25);
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
  left: 50%;
  content: 'ON';
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
    3px 3px 5px #00b33c;
}


.button1 {
  width: 6rem;
  height: 6rem;
  background-color: rgba(37, 66, 12, 0.5);
  border-radius: 0;
  box-shadow: 5px 5px 0px black;
  transform: translate(0, 0);
  z-index: 1;
  padding: 0;
  position: relative;
}

.button1:active {
  transform: translate(0, -15px);
}


.button1:hover {
  animation: animate 1s infinite;
}

.button1-icon {
  position: relative;
  top: 25%;
  left: 63%;
  z-index: 1;
  transform: scale(1.5);
}

.overlay {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: rgba(65, 126, 16, 0.5);
}

.one {
  position: absolute;
  background-color: rgba(65, 126, 16, 0.5);
  box-shadow: 2px 2px 0px black;
  width: 1rem;
  height: 0.35rem;
  z-index: 10;
}

.one:after {
  content: "";
  position: absolute;
  background-color: rgba(65, 126, 16, 0.5);
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(5px, 15px);
  z-index: 10;
}

.one:before {
  content: "";
  position: absolute;
  background-color: rgba(65, 126, 16, 0.5);
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(5px, 25px);
  z-index: 10;
}

.two {
  position: absolute;
  background-color: rgba(65, 126, 16, 0.5);
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-50%, 50%);
  z-index: 10;
}

.two::after {
  content: "";
  position: absolute;
  background-color: rgba(65, 126, 16, 0.5);
  box-shadow: 2px 2px 0px black;
  width: 0.5rem;
  height: 0.8rem;
  transform: translate(190%, -5%);
  z-index: 10;
}

.two::before {
  content: "";
  position: absolute;
  background-color: rgba(218, 107, 52, 0.5);
  width: 0.7rem;
  height: 0.3rem;
  transform: translate(12px, 8px);
  z-index: 10;
}

.dots1 {
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(-20px, -12px);
  background-color: #000;
}

.dots1::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(50px, 0px);
  background-color: #000;
}

.dots2 {
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(-20px, 40px);
  background-color: #000;
}

.dots2::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translate(50px, 0px);
  background-color: #000;
}


.button1-container p {
  color: black;
  transform: translate(0, 1rem);
  font-weight: bold;
  z-index: -2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.button-container {
  padding-left: 25px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/*
.button-container:last-child {
    margin-right: 0;
} */
.main {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: auto;
}

img {
  width: 100%;
}

.tes {
  padding-left: 10px;
}

body {
  background: url('../assets/mainbg.jpeg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.transparent-button {
  background-color: transparent;
  /* Définit la couleur d'arrière-plan comme transparente */
  border: none;
  /* Supprime les bordures */
  outline: none;
  /* Supprime la bordure de focus */
  cursor: pointer;
  /* Change le curseur au survol */
}