:root {
    --bloc-size : 40px;
    --animate-transition : 40px
}

* {
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: green;
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: url('../assets/mainbg.jpeg') no-repeat;
    background-size: cover;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--bloc-size)*15);
    height: calc(var(--bloc-size)*13);
    margin: auto;
    background-color: rgb(192, 192, 192);
}

main div {
    width: var(--bloc-size);
    height: var(--bloc-size);
}
.b {
    background: url('../assets/map/bloc.png');
    background-size: cover;
}
.m {
    background: url('../assets/map/mur.png');
    background-size: cover;
}
.c {
    background: rgb(72, 141, 72);
}
main div img {
    height: calc(var(--bloc-size) - 7px) ;
}

.bomb {
    animation: bombAnimate 1s infinite linear;
}

@keyframes bombAnimate {
    0% {
        transform:scale(0.9);
    }
    50% {
        transform:scale(1);
    }
    100% {
        transform:scale(0.9);
    }
}