:root {
    --bloc-size : 40px;
    --animate-transition : 40px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../assets/mainbg.jpeg') no-repeat;
    background-size: cover;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--bloc-size)*15);
    height: calc(var(--bloc-size)*13);
    margin: auto;
    background-color: rgb(192, 192, 192);
}

main div {
    width: var(--bloc-size);
    height: var(--bloc-size);
}
main > div img {
    position: absolute;
}
.b {
    background: url('../assets/map/bloc.png');
    background-size: cover;
}
.m {
    background: url('../assets/map/mur.png');
    background-size: cover;
}
.c {
    background: rgb(72, 141, 72);
}
main div img {
    height: calc(var(--bloc-size) - 3px) ;
    
}

.bomb {
    z-index: 50;
    animation: bombAnimate 1s infinite linear;
}

@keyframes bombAnimate {
    0% {
        transform:scale(0.9);
    }
    50% {
        transform:scale(1);
    }
    100% {
        transform:scale(0.9);
    }
}

/* Mis en forme de la barre de score  */

header {
    background-color: rgba(164, 164, 164, 0.5);
    margin-bottom: 30px;
}

header ul {
    list-style: none;
    padding: 10px 17px;
}
header ul li {
    color: rgb(66, 62, 62);
    font-size: 2em;
    font-weight: bold;
}
