:root {
    --bloc-size : 40px;
    --animate-transition : 40px
}

* {
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: green;
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: url('../assets/mainbg.jpeg') no-repeat;
    background-size: cover;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--bloc-size)*15);
    height: calc(var(--bloc-size)*13);
    margin: auto;
    background-color: rgb(192, 192, 192);
}

main div {
    width: var(--bloc-size);
    height: var(--bloc-size);
}
.b {
    background: url('../assets/map/bloc.png');
    background-size: cover;
}
.m {
    background: url('../assets/map/mur.png');
    background-size: cover;
}
.c {
    background: rgb(72, 141, 72);
}
main div img {
    height: calc(var(--bloc-size) - 7px) ;
}


/* @keyframes moveBlockFromLeft {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translateX(var(--animate-transition)); // Ajustez ces valeurs selon le déplacement souhaité 
    }
}

.move-right img {
    animation: moveBlockFromLeft 1s ease-in-out; //1s est la durée de l'animation, ajustez selon vos besoins 
}

@keyframes moveBlockFromTop {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translateY(calc(-1 * var(--animate-transition))); // Ajustez ces valeurs selon le déplacement souhaité 
    }
}

.move-up img {
    animation: moveBlockFromTop 1s ease-in-out; 
}

@keyframes moveBlockFromBottom {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, var(--animate-transition)); 
    }
}

.move-down img {
    animation: moveBlockFromBottom 1s ease-in-out; 
}

@keyframes moveBlockFromRight {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(calc(-1 * var(--animate-transition)), 0); 
    }
}


.move-left img {
    animation: moveBlockFromRight 1s ease-in-out; 
} */